@function rem($value) {
  $remVal: ($value / 16) + rem;
  @return $remVal;
}

$font-family: Yellix TRIAL;
$p-desktop: normal normal normal rem(25) / rem(33) + " " + $font-family;
$p-mobile: normal normal normal rem(18) / rem(26) + " " + $font-family;
$color-green: #3cd17f;
$color-black: #333333;
$color-blue: #4b42ad;
$color-white: #fff;

@font-face {
  font-family: $font-family;
  src: url(./assets/fonts/Yellix-Regular.ttf);
}

.p-40 {
  padding: rem(40);
  @media (max-width: 767px) {
    padding: rem(16);
  }
}
p {
  margin-bottom: 0;
  @media (min-width: 768px) {
    font: normal normal normal rem(25) / rem(33) + " " + $font-family;
  }

  @media (max-width: 767px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

h2.larger-heading {
  letter-spacing: -1.36px;
  font-size: rem(32);
  line-height: rem(42);
  @media (min-width: 768px) {
    font: normal normal normal rem(68) / rem(72) + " " + $font-family;
  }

  &.banner-heading {
    text-align: left;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
}
.center-img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-width: 30%;
}

.center-img.bonos {
  opacity: 0;
  animation: roto 0.8s linear 0.8s;
  animation-fill-mode: forwards;
}

.button {
  border: rem(0) transparent;
  border-radius: rem(30);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal rem(17) / rem(25) + " " + $font-family;
  height: rem(42);
  padding: 0 rem(25);
  white-space: nowrap;
  @media (max-width: 767px) {
    font: $p-mobile;
  }
  &.btn-transparent {
    border: rem(1) solid $color-white;
    border-radius: 30px;
  }
}
.wrapperCol {
  position: relative;
  padding: 0 rem(15);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.color-blue {
  color: $color-blue;
}
ul.custom {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font: $p-desktop;
  li {
    position: relative;
    padding-left: rem(30);
    margin: rem(10) 0;
    &::before {
      content: url(./assets/images/marker.svg);
      width: rem(20);
      height: rem(20);
      border-radius: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: $color-green;
      left: 0;
      top: rem(3);
      font-size: 0;
      line-height: 0;
    }
  }
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
nav.container-fluid {
  height: rem(120);
  display: flex;
  align-items: center;
  border-bottom: rem(1) solid #acacac;
  background: #fff;
  @media (max-width: 767px) {
    height: rem(65);
  }

  .logo-text {
    font: normal normal 600 rem(45) / rem(69) $font-family;
    letter-spacing: rem(-0.41);
    color: #333333;
    text-decoration: none;
    padding-left: rem(30);
    @media (max-width: 991px) {
      font-size: rem(32);
      line-height: rem(45);
    }
  }

  button.custom-navlink {
    padding: 0 rem(35);
    &:hover {
      color: $color-green;
    }
  }
  .button {
    &:hover {
      color: $color-white;
      background: $color-black;
    }
  }
}
.common-btn {
  width: rem(176);
  height: rem(40);
  color: $color-white;
  background: $color-green;
  border-radius: rem(30);
}

section#banner {
  .bg-img {
    width: 100%;
    margin: auto;
  }
  .button {
    &:hover {
      color: $color-white;
      background: $color-black;
    }
  }
  .border-left {
    @media (min-width: 991px) {
      border-left: rem(1) solid #acacac;
    }
  }
  .menuIcon {
    @media (min-width: 931px) {
      display: none;
    }
    @media (max-width: 930px) {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      width: 38px;
      height: 38px;
    }
  }
}
section#selldigital {
  padding: rem(200) rem(135);
  background: #1f1f1f;
  color: $color-white;
  @media (max-width: 991px) {
    padding: rem(140) rem(50);
  }
  @media (max-width: 767px) {
    padding: rem(40) rem(16);
  }
  h2 {
    text-align: center;
  }
  .button {
    border: rem(1) solid $color-white;
    border-radius: rem(30);
    color: $color-white;
    width: rem(280);
    height: rem(40);
    margin-top: rem(45);
    &:hover {
      color: $color-black;
      background: $color-white;
    }
  }
  .imgWrapper {
    position: relative;
    min-height: rem(500);
    @media (max-width: 1200px) {
      height: rem(400);
    }
    @media (max-width: 767px) {
      display: none;
    }
    img {
      width: unset;
      max-height: rem(340);
      position: absolute;
      filter: brightness(0.5);
      @media (max-width: 1200px) {
        max-height: rem(220);
      }
      &.img1 {
        left: 0;
        bottom: 0;
      }
      &.img2 {
        left: 50%;
        top: 0;
        transform: translate3d(-40%, 0, 0);
      }
      &.img3 {
        right: 0;
        bottom: 0;
      }
      &.img4 {
        left: 0;
        bottom: 0;
      }
      &.img5 {
        left: 25%;
        bottom: 0%;
        transform: translate3d(0%, 100%, 0);
      }
      &.img6 {
        left: 70%;
        top: 50%;
        transform: translate3d(-50%, -10%, 0);
      }
      &.img7 {
        right: 0;
        top: -15%;
      }
    }
  }
}

section#scroll1 {
  padding: rem(140) rem(100);
  height: rem(1020);
  overflow-y: scroll;
  @media (max-width: 1200px) {
    padding: rem(140) rem(50);
  }
  @media (max-width: 767px) {
    padding: rem(40) rem(16);
  }
  .scroll-section {
    padding-top: rem(140);
    @media (max-width: 991px) {
      margin-top: rem(50);
    }
    @media (max-width: 767px) {
      padding-top: rem(30);
    }
  }
  h2 {
    margin-bottom: rem(20);
  }
  p.title {
    font: normal normal normal rem(22) / rem(35) $font-family;
    margin-top: rem(30);
  }
  p.description {
    padding: rem(20) 0;
  }
  .border-bottom {
    border-bottom: rem(1) solid rgba(0, 0, 0, 0.1);
  }
}

section#testimonials {
  padding: rem(140) rem(100);
  background: $color-green;
  @media (max-width: 1200px) {
    padding: rem(140) rem(50);
  }
  @media (max-width: 767px) {
    padding: rem(40) rem(16);
  }
  img {
    width: unset;
  }
  p {
    margin: rem(40) 0;
  }
}

section#casestudy {
  padding-bottom: rem(40);
  img.bg-img {
    position: relative;
    width: 100%;
    object-fit: cover;
  }
  img.center-img {
    max-width: 85%;
  }
  img.overlay_ {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 70%;
    max-width: 65%;
    transform: translate3d(-50%, 10px, 0);
  }
  .btn-transparent {
    border: rem(1) solid $color-black;
    &:hover {
      color: $color-white;
      background: $color-black;
    }
    &:first-child {
      margin-right: rem(15);
    }
  }
}

section#merchants {
  background-color: #4a42ad;
  background-image: url(./assets/images/bg_baloons.svg);
  background-size: cover;
  height: rem(700);
  background-repeat: no-repeat;
  background-position: center;
  color: $color-white;
  @media (max-width: 767px) {
    height: rem(500);
  }
  h2 {
    margin: rem(30) 0;
  }
  .bg-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
  }
  .button {
    color: $color-white;
    margin-top: rem(50);
    &:hover {
      color: $color-black;
      background: $color-white;
    }
    @media (max-width: 767px) {
      margin-top: rem(30);
    }
  }
}

section#feeds {
  padding: rem(230) rem(130);
  overflow: hidden;
  @media (max-width: 991px) {
    padding: rem(140) rem(50);
  }
  @media (max-width: 767px) {
    padding: rem(40) rem(16);
  }
  .scroll {
    height: rem(600);
    overflow-y: scroll;
  }
  .description {
    border-top: rem(1) solid rgba(0, 0, 0, 0.1);
    padding-top: rem(30);
  }
  h5 {
    margin-top: 35px;
    margin-bottom: 35px;
    font: normal normal normal 35px/42px Yellix TRIAL;
    letter-spacing: -0.42px;
    color: #acacac;
  }
  h5 ~ span {
    font: normal normal normal 35px/42px Yellix TRIAL;
    letter-spacing: -0.42px;
    color: #333333;
    margin: 35px 0;
    a {
      text-decoration: underline;
    }
  }
}

section#support {
  background: #1d1d1d;
  color: $color-white;
  .heading-section {
    padding: rem(170) rem(100);
    @media (max-width: 991px) {
      padding: rem(150) rem(50);
    }
    @media (max-width: 767px) {
      padding: rem(40) rem(32);
    }
  }
  .border-top {
    @media (max-width: 767px) {
      border: 1px solid $color-white;
      margin: rem(15) 0;
    }
  }
  .border-left-right {
    @media (min-width: 768px) {
      border-left: 1px solid $color-white;
      border-right: 1px solid $color-white;
    }
    @media (max-width: 767px) {
      margin: 15px 0;
    }
  }
  .card {
    background: transparent;
    align-items: center;
    padding: rem(40);
    text-align: center;
    @media (max-width: 991px) {
      padding: rem(30);
    }
    span {
      margin-top: rem(15);
    }
    p {
      margin: rem(30) 0;
    }
    .button {
      color: $color-white;
      margin-top: rem(15);
      &:hover {
        color: $color-black;
        background: $color-white;
      }
    }
  }
}

section#plans {
  background: #f5f5f5;
  .heading-section {
    padding: rem(170) rem(100) rem(85);
    @media (max-width: 991px) {
      padding: rem(150) rem(50) rem(50);
    }
    @media (max-width: 767px) {
      padding: rem(40) rem(32) rem(40);
    }
  }

  .plansColWrapper {
    @media (max-width: 991px) {
      overflow: hidden;
      overflow-x: scroll;
      .pl-100,
      .last-row {
        min-width: 1100px;
      }
    }
  }
  .first-row {
    .w-25,
    .w-20,
    .w-5 {
      padding: 15px 0;
      border-top: 0px solid transparent;
    }
  }
  .last-row {
    margin: rem(30) 0 0;
    padding: rem(0) rem(100) rem(85);
    @media (max-width: 991px) {
      padding: rem(0) rem(50) rem(50);
    }
    @media (max-width: 767px) {
      padding: rem(0) rem(32) rem(40);
    }
    .w-25,
    .w-20,
    .w-5 {
      padding: 15px 0;
      border-top: 0px solid transparent;
    }
    .card {
      p {
        margin: 0 0;
        padding: 0;
      }
    }
  }
  .pl-100 {
    padding: rem(0) rem(100) rem(0);
    @media (max-width: 991px) {
      padding: rem(0) rem(50) rem(0);
    }
    @media (max-width: 767px) {
      padding: rem(0) rem(32) rem(0);
    }
  }

  p {
    padding: 0 0 rem(15);
  }
  .w-25 {
    width: 25%;
    flex: 25%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #acacac;
  }
  .w-20 {
    width: 20%;
    flex: 20%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #acacac;
    justify-content: center;
  }
  .w-5 {
    width: 5%;
    flex: 5%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #acacac;
    justify-content: center;
    position: relative;
    img {
      &:hover {
        cursor: pointer;
        & ~ .tooltip {
          visibility: visible;
        }
      }
    }
  }
  .card {
    background: transparent;
    align-items: center;
    text-align: center;
    border: 0px transparent;
    &.inner-card {
      img {
        background: $color-green;
        padding: rem(5);
        border-radius: 50%;
      }
    }
    span {
      margin-top: rem(15);
    }
    p {
      margin: rem(30) 0;
    }
    .button {
      color: $color-black;
      border: 1px solid $color-black;
      margin-top: rem(15);
      &:hover {
        color: $color-white;
        background: $color-black;
      }
    }
  }
}

section#requestdemo {
  height: 500px;
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    height: 300px;
  }
  h2 {
    color: $color-black;
  }
  .button {
    background: $color-green;
    color: $color-white;
    margin-top: rem(50);
    &:hover {
      color: $color-white;
      background: $color-black;
    }
    @media (max-width: 767px) {
      margin-top: rem(30);
    }
  }
}

section#footer {
  background: #1f1f1f;
  padding: rem(100) rem(40);
  color: $color-white;
  @media (max-width: 767px) {
    padding: rem(50) rem(32);
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      color: #acacac;
      font: normal normal normal 22px/35px Yellix TRIAL;
      letter-spacing: -1.08px;
      &.first {
        font-weight: 600;
        color: $color-white;
      }
    }
  }
}

// Some keyframe animations here
.rotation-animation {
  transition: all ease;
  animation: rotation 100s infinite linear 1s, roto2 0.8s linear;
  // animation-delay: 1s;
  // animation-iteration-count: infinite;
  // animation-duration: 100s;
  // animation-timing-function: linear;
  // -webkit-animation-timing-function: linear;
}
@keyframes roto2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes roto {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 30%;
    opacity: 1;
  }
}

span.my-tooltip {
  position: absolute;
  opacity: 0;
  background: #4b42ad 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 35px #00000026;
  border-radius: 6px;
  font: normal normal normal 18px/25px Yellix TRIAL;
  letter-spacing: -0.22px;
  color: #ffffff;
  padding: 10px;
  height: 50px;
  width: 200px;
  left: 50%;
  top: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  &:nth-child(1) {
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4b42ad transparent transparent transparent;
  }
}

.tooltip-wrapper:hover {
  & .my-tooltip {
    opacity: 1;
  }
}
